header {
    height: 10vh;
    background-color: #06131F;
}

body {
    background-color: #1D2D3C;
}

.logo {
    height: 8vh;
}

.card-cs {
    width: 25%;
    min-height: 200px;
    background-color: #112030;
}